<header>
  {% if index %}
    <h1><a href="{{ root_url }}{{ post.url }}">
      {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
    </a></h1>
  {% else %}
    <div class="article-tags">
        {% include post/categories.html %}
        {% include post/date.html %}
    </div>
    <h1>
      {% if site.titlecase %}{{ page.title }}{% else %}{{ page.title }}{% endif %}
    </h1>
  {% endif %}
</header>

{% if index %}
  <section>{{ excerpt }}</section>
{% else %}
  <section>{{ content }}</section>
{% endif %}

