@media screen and (min-width: 960px) {
  .main article p img {
    width: auto;
  }
}

.header-container img {
  border-radius: 50%;
  border: 3px solid #b8d6e0;
}

#index-main {
  margin-bottom: 100px;

  article {
    margin-bottom: 10px;

    header {
      margin-bottom: 0px;
      h1 {
        font-size: 20px;
        margin-bottom: 0;
        a {
          // font-weight: normal;
        }
      }
    }
  }
}

.main article {
  margin-bottom: 30px;

  header {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.3em;

    .article-tags {
      font-weight: normal;
      font-style: italic;
      font-size: 0.7em;

      .date {
        float: right;
      }
      a {
        color: #ababab;
      }
    }
    h1 {
     margin-top: 0px;
     font-size: 30px;
    }
  }

  /* Markdown */

  h1, h2, h3, h4, h5, h6 {
    line-height: 36px;
    font-weight: bold;
    color: #da3e10;
  }
  h1 {
     margin-top: 60px;
     margin-bottom: 18px;

     font-size: 26px;
  }
  h2 {
     margin-top: 30px;
     margin-bottom: 15px;
     padding-bottom: 5px;
     border-bottom: 1px solid #ccc;

     font-size: 24px;

     a {
       font-weight: normal;
     }
  }
  h3 {
     font-size: 20px;
     margin-bottom: 15px;
  }
  h4 {
     font-size: 14px;
  }
  h5 {
     font-size: 14px;
  }
  h6 {
     font-size: 13px;
  }

  ul{
    margin:0.5em 0 1em 2em;
    list-style: disc;
  }
  ol{
    margin:0.5em 0 1em 2em;
    list-style: decimal;
  }
  ul li,ol li{
    margin-top:.5em;
    margin-bottom:.5em;
  }
  ul ul,ul ol,ol ol,ol ul{
    margin-top:0;
    margin-bottom:0;
  }

  p code, li code {
    background: #b8d6e0;
    color: #005292;
  }

  strong {
    font-weight: bold;
    em {
      font-weight: bold;
      font-style: italic;
    }
    em:before {
      content: '? ';
      font-size: 2em;
    }
  }
  em {
    font-style: italic;
  }

  img {
    width: 100%;
  }

  table.custom {
    padding: 0;
    border-collapse: collapse;
    margin-bottom: 30px;

    tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
    }
    tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
    tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px;
    }
    tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 6px 13px;
    }
    tr th :first-child, table tr td :first-child {
      margin-top: 0;
    }
    tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
    }
  }

  .comments {
    margin-top: 80px;
  }

  .category-title {
    font-size: 25px;
  }

  #blog-archives {
    article {
      width: 90%;
    }
    h1 {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 20px;
    }
    time {
    }
    article {
      float: none;
    }
  }
}

.main-footer {
  .interior-footer {
    text-align: right;
  }
}

// blockquote {
//   border-left: 4px solid #dddddd;
//   padding: 0 15px;
//   color: #777777;
//   margin-bottom: 14px;
// }
// blockquote > :first-child {
//   margin-top: 0;
// }
// blockquote > :last-child {
//   margin-bottom: 0;
// }
// 

blockquote {
    margin: 0;
    padding: 0;
}

blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    float: left;
    font-family:georgia,serif;
    color:#b8d6e0;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 0;
    font-style: italic;
    line-height:25px;
}

